.container {
    margin: 100px auto;
    width: 1200px;
}

.location {
    margin: 0 auto;
    width: 600px;
    height: 30px;
}

.form-control {
    float: left;
    margin-right: 20px;
    outline: none;
    border: none;
    border: 1px solid #ccc;
    width: 150px;
    height: 30px;
    text-align: center;
    box-shadow: 0 0 5px rgba(0, 0, 0, .2);
}

#box {
    margin: 20px auto;
    border-collapse: collapse;
}

#box th,
#box td {
    width: 500px;
    height: 30px;
    text-align: center;
}